
.boximg{
    margin-top: 4rem;
   
}
.descpara{
    text-align: left;
}.productdiv{
    z-index: -1;
}
.newarrival{
    font-size: 3rem;
    text-align: center;
    color: var(--lightGreen);
    font-weight: bold;
}
.innerardiv{
    margin-left: 35%;
    width: 30%;
    border: 4px solid var(--lightGreen);
    border-radius: 15px;
    background-color: white;
}
.footer{
    width: 100%;
}