.header{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    background-color: white;
}
.n-left{
    flex: 1;
    display: flex;
    gap: 2rem;
}
.n-left>img{
    transform: scale(0.7);
}
.n-right{
    display: flex;
    align-items: center;
    flex:1;
    justify-content: flex-end;
    font-weight: 400;

}

.list>ul{
    width: 100%;
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-right: 4rem;
    align-items: center;
    transform: scale(0.8);


}
.list>ul>li{
    flex:3;
}
.cart-image{
    transform: scale(0.9);
    text-decoration: none;
    border: none;
}
.cartw{
    color: var(--black);
    text-decoration: none;
    border: none;
}
.cart-image:hover{
    transform: scale(1);
}
.list>ul>li>a{
    text-decoration: none;
}