.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.category{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;

}
.homenav{
    left: 0;
    display: flex;
    align-items: center;
    flex:1;
    justify-content: flex-end;
    font-weight: 400;
}
.category>ul{
width: 100%;
list-style: none;
display: flex;
gap: 2rem;
margin-right: 4rem;
align-items: center;
justify-content: flex-end;
transform: scale(0.8);
}
.homenav>ul{
list-style: none;
display: flex;
gap: 2rem;
margin-right: 4rem;
align-items: center;
justify-content: flex-end;
transform: scale(0.9);
}

.homenav>ul>li>a{
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    
}
.homenav>ul>li>a:hover{
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--lightGreen);
}