@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Gumela;
  src: url('../src/Components/Font/Gumela\ Regular.otf');
  font-weight: normal;
  font-size: 20px;
}
*{
  font-family: 'Gumela';
}
body{
  margin: 0;
}